<?xml version="1.0" ?>
<robot>
  <material name="omni/Blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="omni/Red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="omni/Green">
    <color rgba="0 1 0 1"/>
  </material>

  <material name="omni/Yellow">
    <color rgba="1 1 0 1"/>
  </material>

  <material name="omni/LightGrey">
    <color rgba="0.6 0.6 0.6 1"/>
  </material>

  <material name="omni/DarkGrey">
    <color rgba="0.4 0.4 0.4 1"/>
  </material>
</robot>
