<?xml version="1.0"?>
<launch>
  <include file="$(find omni_description)/launch/omnigrasper.launch" />

  <!-- Option to show or hide the GUI of the joint state publisher -->
  <arg name="gui" default="true"/>
  <param name="use_gui" value="$(arg gui)"/>

  <!-- Start state publishers -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- Start Rviz -->
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find omni_description)/config/omnigrasper_description.rviz" />
</launch>
