<?xml version="1.0"?>
<launch>
  <!-- Load Nao Robot parameter file -->
	<param name="robot_description" command="$(find xacro)/xacro.py $(find omni_description)/urdf/omnigrasper_arm/partial_arm.xacro" />

	<param name="use_gui" type="int" value="1"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz"/>
</launch>
